body {
    margin: 0;
    padding: 0;
    background-color: #172530;
}
.contanier {
    width: 400px;
    height: 300px;
    background-color: #2A4057;
    border-radius:3px;
    margin:auto;
    margin-top:200px;
}
.title{
    font-size:30pt;
    color:lightgray;
    font-family:Calibri;
    top:20px;
    position:relative;
    text-align:center;
    right:30px;
}
.Textbox{
    outline:none;
    height:30px;
    width:300px;
    font-size:15pt;
   

}
.contanier i{
    color:lightgray;
    padding-right:10px;
    font-size:16pt;
}
.incon{
    padding:5px;
   left:25px;
   position:relative;
}
.textboxlar {
    top: 30px;
    position: relative;
}
.Textbox::placeholder{
    font-size:15pt;
}
.loginButton {
    padding: 7px 30px;
    background-color: #00CE71;
    top:60px;
    left:215px;
    position:relative;
    border-radius:1px;
    text-decoration:none;
    color:black;
    font-weight:700;
    
}
.loginButton:hover{
    text-decoration:underline;
}
.hata {
    width: 390px;
    min-height: 50px;
    background-color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top:121px;
    right:30px;
    position:relative;
    color:white;
    font-size:16pt;
    max-height:100px;
    word-break:break-word;
    padding:5px;
    
}
    .hata .hatametin {
        position: relative;
        top: 10px;
    }
